			footer{
			width: 100%;
			height:150px;   /* footer的高度一定要是固定值*/
			position:absolute;
			bottom:-300px;
			left:-1px;
			background: #333;
			margin-bottom: -2;
			background-color:orange;
			color:white;
			font-family:"Arial Black";
			font-size: 24px;
			text-align:center;
			}
			header{
				width: 100%;
			height:152px;
				background-color:orange;
				margin-top: 4cm;
				position:absolute;
				top:-160px;
				left:-1px;
				z-index: -1;
				font-family: "微軟正黑體";
				color:orange;
			}
			.basketball{margin-top: 4cm;
				position:absolute;
				top:-6%;right:50%;bottom:20px;left:-2%;
				z-index: -2;
				opacity:0.5;
			}
			.head{
				text-align: center;
				font-size:48px;
				font-family: "微軟正黑體";
			}
			a{
				text-decoration:none;
			}
			a:hover {
			//設定滑鼠移經的連結
			text-decoration:underline;
			background-color:white;
			color:gray;
			}
			.t1{position: absolute;
				top:15px;
				right:360px;
				font-family: "微軟正黑體";
				font-size:24px;
				
			}
			.t2{position: absolute;
				top:15px;
				right:260px;
			font-family: "微軟正黑體";
			font-size:24px;
			
			}
			.t3{position: absolute;
				top:15px;
				right:160px;
				font-family: "微軟正黑體";
				font-size:24px;
			
			}
			.t4{position: absolute;
				top:15px;
				right:60px;
				font-family: "微軟正黑體";
				font-size:24px;
			}
			.picc1{position: absolute;
				top:190px;
				left:60px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.picc2{position: absolute;
				top:365px;
				left:450px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.picc4{position: absolute;
				top:815px;
				left:60px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.picc3{position: absolute;
				top:190px;
				left:840px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.picc5{position: absolute;
				top:642px;
				left:450px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.picc6{position: absolute;
				top:815px;
				left:840px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
			}
			.ppa{position: absolute;
				top:468px;
				left:60px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		   	}
		   	.ppb{position: absolute;
				top:190px;
				left:450px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		    }    
		    .ppc{position: absolute;
				top:468px;
				left:840px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		    }
		    .ppd{position: absolute;
				top:642px;
				left:60px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		    }
		    .ppe{position: absolute;
				top:642px;
				left:840px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		    }
		    .ppf{position: absolute;
				top:920px;
				left:450px;
				border:1px solid #999;
		        padding:5px;
		        background:#efefef
		    }
				